URL météo = https://open-meteo.com/

URL commune = https://www.odwb.be/explore/dataset/code-postaux-belge/table/?disjunctive.column_1&refine.arrondissement=Arrondissement+de+Bruxelles-Capitale

In [38]:
import pandas as pd 
import numpy as np 

import requests as rq
from sqlalchemy import create_engine,text,Float,Integer,String

In [1]:
url = 'https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&hourly=temperature_2m'

In [4]:
response = rq.get(url)
response.status_code

200

In [5]:
response.headers

{'Date': 'Wed, 02 Apr 2025 07:33:37 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Content-Encoding': 'deflate'}

In [6]:
rawdata = response.json()
rawdata

{'latitude': 52.52,
 'longitude': 13.419998,
 'generationtime_ms': 0.04673004150390625,
 'utc_offset_seconds': 0,
 'timezone': 'GMT',
 'timezone_abbreviation': 'GMT',
 'elevation': 38.0,
 'hourly_units': {'time': 'iso8601', 'temperature_2m': '°C'},
 'hourly': {'time': ['2025-04-02T00:00',
   '2025-04-02T01:00',
   '2025-04-02T02:00',
   '2025-04-02T03:00',
   '2025-04-02T04:00',
   '2025-04-02T05:00',
   '2025-04-02T06:00',
   '2025-04-02T07:00',
   '2025-04-02T08:00',
   '2025-04-02T09:00',
   '2025-04-02T10:00',
   '2025-04-02T11:00',
   '2025-04-02T12:00',
   '2025-04-02T13:00',
   '2025-04-02T14:00',
   '2025-04-02T15:00',
   '2025-04-02T16:00',
   '2025-04-02T17:00',
   '2025-04-02T18:00',
   '2025-04-02T19:00',
   '2025-04-02T20:00',
   '2025-04-02T21:00',
   '2025-04-02T22:00',
   '2025-04-02T23:00',
   '2025-04-03T00:00',
   '2025-04-03T01:00',
   '2025-04-03T02:00',
   '2025-04-03T03:00',
   '2025-04-03T04:00',
   '2025-04-03T05:00',
   '2025-04-03T06:00',
   '2025-04-03T07:00',
   '2025-04-03T08:00',
   '2025-04-03T09:00',
   '2025-04-03T10:00',
   '2025-04-03T11:00',
   '2025-04-03T12:00',
   '2025-04-03T13:00',
   '2025-04-03T14:00',
   '2025-04-03T15:00',
   '2025-04-03T16:00',
   '2025-04-03T17:00',
   '2025-04-03T18:00',
   '2025-04-03T19:00',
   '2025-04-03T20:00',
   '2025-04-03T21:00',
   '2025-04-03T22:00',
   '2025-04-03T23:00',
   '2025-04-04T00:00',
   '2025-04-04T01:00',
   '2025-04-04T02:00',
   '2025-04-04T03:00',
   '2025-04-04T04:00',
   '2025-04-04T05:00',
   '2025-04-04T06:00',
   '2025-04-04T07:00',
   '2025-04-04T08:00',
   '2025-04-04T09:00',
   '2025-04-04T10:00',
   '2025-04-04T11:00',
   '2025-04-04T12:00',
   '2025-04-04T13:00',
   '2025-04-04T14:00',
   '2025-04-04T15:00',
   '2025-04-04T16:00',
   '2025-04-04T17:00',
   '2025-04-04T18:00',
   '2025-04-04T19:00',
   '2025-04-04T20:00',
   '2025-04-04T21:00',
   '2025-04-04T22:00',
   '2025-04-04T23:00',
   '2025-04-05T00:00',
   '2025-04-05T01:00',
   '2025-04-05T02:00',
   '2025-04-05T03:00',
   '2025-04-05T04:00',
   '2025-04-05T05:00',
   '2025-04-05T06:00',
   '2025-04-05T07:00',
   '2025-04-05T08:00',
   '2025-04-05T09:00',
   '2025-04-05T10:00',
   '2025-04-05T11:00',
   '2025-04-05T12:00',
   '2025-04-05T13:00',
   '2025-04-05T14:00',
   '2025-04-05T15:00',
   '2025-04-05T16:00',
   '2025-04-05T17:00',
   '2025-04-05T18:00',
   '2025-04-05T19:00',
   '2025-04-05T20:00',
   '2025-04-05T21:00',
   '2025-04-05T22:00',
   '2025-04-05T23:00',
   '2025-04-06T00:00',
   '2025-04-06T01:00',
   '2025-04-06T02:00',
   '2025-04-06T03:00',
   '2025-04-06T04:00',
   '2025-04-06T05:00',
   '2025-04-06T06:00',
   '2025-04-06T07:00',
   '2025-04-06T08:00',
   '2025-04-06T09:00',
   '2025-04-06T10:00',
   '2025-04-06T11:00',
   '2025-04-06T12:00',
   '2025-04-06T13:00',
   '2025-04-06T14:00',
   '2025-04-06T15:00',
   '2025-04-06T16:00',
   '2025-04-06T17:00',
   '2025-04-06T18:00',
   '2025-04-06T19:00',
   '2025-04-06T20:00',
   '2025-04-06T21:00',
   '2025-04-06T22:00',
   '2025-04-06T23:00',
   '2025-04-07T00:00',
   '2025-04-07T01:00',
   '2025-04-07T02:00',
   '2025-04-07T03:00',
   '2025-04-07T04:00',
   '2025-04-07T05:00',
   '2025-04-07T06:00',
   '2025-04-07T07:00',
   '2025-04-07T08:00',
   '2025-04-07T09:00',
   '2025-04-07T10:00',
   '2025-04-07T11:00',
   '2025-04-07T12:00',
   '2025-04-07T13:00',
   '2025-04-07T14:00',
   '2025-04-07T15:00',
   '2025-04-07T16:00',
   '2025-04-07T17:00',
   '2025-04-07T18:00',
   '2025-04-07T19:00',
   '2025-04-07T20:00',
   '2025-04-07T21:00',
   '2025-04-07T22:00',
   '2025-04-07T23:00',
   '2025-04-08T00:00',
   '2025-04-08T01:00',
   '2025-04-08T02:00',
   '2025-04-08T03:00',
   '2025-04-08T04:00',
   '2025-04-08T05:00',
   '2025-04-08T06:00',
   '2025-04-08T07:00',
   '2025-04-08T08:00',
   '2025-04-08T09:00',
   '2025-04-08T10:00',
   '2025-04-08T11:00',
   '2025-04-08T12:00',
   '2025-04-08T13:00',
   '2025-04-08T14:00',
   '2025-04-08T15:00',
   '2025-04-08T16:00',
   '2025-04-08T17:00',
   '2025-04-08T18:00',
   '2025-04-08T19:00',
   '2025-04-08T20:00',
   '2025-04-08T21:00',
   '2025-04-08T22:00',
   '2025-04-08T23:00'],
  'temperature_2m': [5.2,
   4.8,
   4.3,
   3.2,
   2.9,
   3.1,
   3.1,
   4.6,
   6.5,
   8.9,
   11.1,
   13.0,
   14.6,
   15.7,
   16.3,
   16.4,
   16.2,
   15.1,
   13.7,
   11.6,
   10.1,
   9.2,
   8.7,
   8.5,
   8.3,
   7.8,
   7.2,
   6.7,
   6.2,
   5.9,
   6.0,
   7.1,
   8.7,
   10.7,
   12.7,
   14.7,
   16.2,
   17.0,
   17.7,
   18.1,
   18.1,
   17.4,
   16.2,
   15.1,
   14.1,
   13.0,
   11.9,
   11.2,
   10.6,
   10.2,
   9.8,
   9.5,
   9.1,
   8.8,
   8.9,
   9.3,
   11.8,
   14.2,
   16.3,
   17.7,
   18.6,
   19.3,
   19.5,
   19.4,
   18.8,
   17.8,
   16.3,
   14.9,
   13.8,
   12.2,
   10.6,
   9.0,
   7.4,
   6.2,
   5.5,
   4.8,
   4.3,
   3.8,
   3.9,
   4.8,
   6.3,
   7.5,
   8.3,
   8.9,
   9.1,
   9.1,
   8.7,
   8.1,
   7.0,
   5.6,
   4.3,
   3.4,
   2.7,
   2.0,
   1.4,
   1.0,
   0.6,
   0.3,
   0.2,
   0.1,
   0.1,
   0.1,
   0.5,
   1.4,
   2.7,
   3.8,
   4.6,
   5.3,
   5.9,
   6.5,
   7.1,
   7.3,
   6.9,
   6.3,
   5.5,
   4.7,
   3.8,
   3.0,
   2.6,
   2.3,
   2.1,
   2.0,
   2.0,
   2.1,
   1.9,
   1.7,
   2.2,
   4.0,
   6.4,
   8.6,
   10.4,
   12.0,
   13.0,
   13.2,
   12.9,
   12.4,
   11.7,
   10.8,
   9.9,
   8.7,
   7.5,
   6.5,
   6.0,
   5.8,
   5.5,
   5.2,
   4.9,
   4.6,
   4.3,
   4.0,
   4.1,
   5.1,
   6.6,
   8.0,
   9.0,
   9.8,
   10.5,
   10.9,
   11.1,
   10.9,
   10.1,
   8.9,
   7.7,
   6.4,
   5.1,
   4.0,
   3.3,
   2.8]}}

In [7]:
rawdata.keys()

dict_keys(['latitude', 'longitude', 'generationtime_ms', 'utc_offset_seconds', 'timezone', 'timezone_abbreviation', 'elevation', 'hourly_units', 'hourly'])

In [8]:
rawdata.get('hourly')

{'time': ['2025-04-02T00:00',
  '2025-04-02T01:00',
  '2025-04-02T02:00',
  '2025-04-02T03:00',
  '2025-04-02T04:00',
  '2025-04-02T05:00',
  '2025-04-02T06:00',
  '2025-04-02T07:00',
  '2025-04-02T08:00',
  '2025-04-02T09:00',
  '2025-04-02T10:00',
  '2025-04-02T11:00',
  '2025-04-02T12:00',
  '2025-04-02T13:00',
  '2025-04-02T14:00',
  '2025-04-02T15:00',
  '2025-04-02T16:00',
  '2025-04-02T17:00',
  '2025-04-02T18:00',
  '2025-04-02T19:00',
  '2025-04-02T20:00',
  '2025-04-02T21:00',
  '2025-04-02T22:00',
  '2025-04-02T23:00',
  '2025-04-03T00:00',
  '2025-04-03T01:00',
  '2025-04-03T02:00',
  '2025-04-03T03:00',
  '2025-04-03T04:00',
  '2025-04-03T05:00',
  '2025-04-03T06:00',
  '2025-04-03T07:00',
  '2025-04-03T08:00',
  '2025-04-03T09:00',
  '2025-04-03T10:00',
  '2025-04-03T11:00',
  '2025-04-03T12:00',
  '2025-04-03T13:00',
  '2025-04-03T14:00',
  '2025-04-03T15:00',
  '2025-04-03T16:00',
  '2025-04-03T17:00',
  '2025-04-03T18:00',
  '2025-04-03T19:00',
  '2025-04-03T20:00',
  '2025-04-03T21:00',
  '2025-04-03T22:00',
  '2025-04-03T23:00',
  '2025-04-04T00:00',
  '2025-04-04T01:00',
  '2025-04-04T02:00',
  '2025-04-04T03:00',
  '2025-04-04T04:00',
  '2025-04-04T05:00',
  '2025-04-04T06:00',
  '2025-04-04T07:00',
  '2025-04-04T08:00',
  '2025-04-04T09:00',
  '2025-04-04T10:00',
  '2025-04-04T11:00',
  '2025-04-04T12:00',
  '2025-04-04T13:00',
  '2025-04-04T14:00',
  '2025-04-04T15:00',
  '2025-04-04T16:00',
  '2025-04-04T17:00',
  '2025-04-04T18:00',
  '2025-04-04T19:00',
  '2025-04-04T20:00',
  '2025-04-04T21:00',
  '2025-04-04T22:00',
  '2025-04-04T23:00',
  '2025-04-05T00:00',
  '2025-04-05T01:00',
  '2025-04-05T02:00',
  '2025-04-05T03:00',
  '2025-04-05T04:00',
  '2025-04-05T05:00',
  '2025-04-05T06:00',
  '2025-04-05T07:00',
  '2025-04-05T08:00',
  '2025-04-05T09:00',
  '2025-04-05T10:00',
  '2025-04-05T11:00',
  '2025-04-05T12:00',
  '2025-04-05T13:00',
  '2025-04-05T14:00',
  '2025-04-05T15:00',
  '2025-04-05T16:00',
  '2025-04-05T17:00',
  '2025-04-05T18:00',
  '2025-04-05T19:00',
  '2025-04-05T20:00',
  '2025-04-05T21:00',
  '2025-04-05T22:00',
  '2025-04-05T23:00',
  '2025-04-06T00:00',
  '2025-04-06T01:00',
  '2025-04-06T02:00',
  '2025-04-06T03:00',
  '2025-04-06T04:00',
  '2025-04-06T05:00',
  '2025-04-06T06:00',
  '2025-04-06T07:00',
  '2025-04-06T08:00',
  '2025-04-06T09:00',
  '2025-04-06T10:00',
  '2025-04-06T11:00',
  '2025-04-06T12:00',
  '2025-04-06T13:00',
  '2025-04-06T14:00',
  '2025-04-06T15:00',
  '2025-04-06T16:00',
  '2025-04-06T17:00',
  '2025-04-06T18:00',
  '2025-04-06T19:00',
  '2025-04-06T20:00',
  '2025-04-06T21:00',
  '2025-04-06T22:00',
  '2025-04-06T23:00',
  '2025-04-07T00:00',
  '2025-04-07T01:00',
  '2025-04-07T02:00',
  '2025-04-07T03:00',
  '2025-04-07T04:00',
  '2025-04-07T05:00',
  '2025-04-07T06:00',
  '2025-04-07T07:00',
  '2025-04-07T08:00',
  '2025-04-07T09:00',
  '2025-04-07T10:00',
  '2025-04-07T11:00',
  '2025-04-07T12:00',
  '2025-04-07T13:00',
  '2025-04-07T14:00',
  '2025-04-07T15:00',
  '2025-04-07T16:00',
  '2025-04-07T17:00',
  '2025-04-07T18:00',
  '2025-04-07T19:00',
  '2025-04-07T20:00',
  '2025-04-07T21:00',
  '2025-04-07T22:00',
  '2025-04-07T23:00',
  '2025-04-08T00:00',
  '2025-04-08T01:00',
  '2025-04-08T02:00',
  '2025-04-08T03:00',
  '2025-04-08T04:00',
  '2025-04-08T05:00',
  '2025-04-08T06:00',
  '2025-04-08T07:00',
  '2025-04-08T08:00',
  '2025-04-08T09:00',
  '2025-04-08T10:00',
  '2025-04-08T11:00',
  '2025-04-08T12:00',
  '2025-04-08T13:00',
  '2025-04-08T14:00',
  '2025-04-08T15:00',
  '2025-04-08T16:00',
  '2025-04-08T17:00',
  '2025-04-08T18:00',
  '2025-04-08T19:00',
  '2025-04-08T20:00',
  '2025-04-08T21:00',
  '2025-04-08T22:00',
  '2025-04-08T23:00'],
 'temperature_2m': [5.2,
  4.8,
  4.3,
  3.2,
  2.9,
  3.1,
  3.1,
  4.6,
  6.5,
  8.9,
  11.1,
  13.0,
  14.6,
  15.7,
  16.3,
  16.4,
  16.2,
  15.1,
  13.7,
  11.6,
  10.1,
  9.2,
  8.7,
  8.5,
  8.3,
  7.8,
  7.2,
  6.7,
  6.2,
  5.9,
  6.0,
  7.1,
  8.7,
  10.7,
  12.7,
  14.7,
  16.2,
  17.0,
  17.7,
  18.1,
  18.1,
  17.4,
  16.2,
  15.1,
  14.1,
  13.0,
  11.9,
  11.2,
  10.6,
  10.2,
  9.8,
  9.5,
  9.1,
  8.8,
  8.9,
  9.3,
  11.8,
  14.2,
  16.3,
  17.7,
  18.6,
  19.3,
  19.5,
  19.4,
  18.8,
  17.8,
  16.3,
  14.9,
  13.8,
  12.2,
  10.6,
  9.0,
  7.4,
  6.2,
  5.5,
  4.8,
  4.3,
  3.8,
  3.9,
  4.8,
  6.3,
  7.5,
  8.3,
  8.9,
  9.1,
  9.1,
  8.7,
  8.1,
  7.0,
  5.6,
  4.3,
  3.4,
  2.7,
  2.0,
  1.4,
  1.0,
  0.6,
  0.3,
  0.2,
  0.1,
  0.1,
  0.1,
  0.5,
  1.4,
  2.7,
  3.8,
  4.6,
  5.3,
  5.9,
  6.5,
  7.1,
  7.3,
  6.9,
  6.3,
  5.5,
  4.7,
  3.8,
  3.0,
  2.6,
  2.3,
  2.1,
  2.0,
  2.0,
  2.1,
  1.9,
  1.7,
  2.2,
  4.0,
  6.4,
  8.6,
  10.4,
  12.0,
  13.0,
  13.2,
  12.9,
  12.4,
  11.7,
  10.8,
  9.9,
  8.7,
  7.5,
  6.5,
  6.0,
  5.8,
  5.5,
  5.2,
  4.9,
  4.6,
  4.3,
  4.0,
  4.1,
  5.1,
  6.6,
  8.0,
  9.0,
  9.8,
  10.5,
  10.9,
  11.1,
  10.9,
  10.1,
  8.9,
  7.7,
  6.4,
  5.1,
  4.0,
  3.3,
  2.8]}

In [10]:
rawdata.get('hourly').get('time')

['2025-04-02T00:00',
 '2025-04-02T01:00',
 '2025-04-02T02:00',
 '2025-04-02T03:00',
 '2025-04-02T04:00',
 '2025-04-02T05:00',
 '2025-04-02T06:00',
 '2025-04-02T07:00',
 '2025-04-02T08:00',
 '2025-04-02T09:00',
 '2025-04-02T10:00',
 '2025-04-02T11:00',
 '2025-04-02T12:00',
 '2025-04-02T13:00',
 '2025-04-02T14:00',
 '2025-04-02T15:00',
 '2025-04-02T16:00',
 '2025-04-02T17:00',
 '2025-04-02T18:00',
 '2025-04-02T19:00',
 '2025-04-02T20:00',
 '2025-04-02T21:00',
 '2025-04-02T22:00',
 '2025-04-02T23:00',
 '2025-04-03T00:00',
 '2025-04-03T01:00',
 '2025-04-03T02:00',
 '2025-04-03T03:00',
 '2025-04-03T04:00',
 '2025-04-03T05:00',
 '2025-04-03T06:00',
 '2025-04-03T07:00',
 '2025-04-03T08:00',
 '2025-04-03T09:00',
 '2025-04-03T10:00',
 '2025-04-03T11:00',
 '2025-04-03T12:00',
 '2025-04-03T13:00',
 '2025-04-03T14:00',
 '2025-04-03T15:00',
 '2025-04-03T16:00',
 '2025-04-03T17:00',
 '2025-04-03T18:00',
 '2025-04-03T19:00',
 '2025-04-03T20:00',
 '2025-04-03T21:00',
 '2025-04-03T22:00',
 '2025-04-03T23:00',
 '2025-04-04T00:00',
 '2025-04-04T01:00',
 '2025-04-04T02:00',
 '2025-04-04T03:00',
 '2025-04-04T04:00',
 '2025-04-04T05:00',
 '2025-04-04T06:00',
 '2025-04-04T07:00',
 '2025-04-04T08:00',
 '2025-04-04T09:00',
 '2025-04-04T10:00',
 '2025-04-04T11:00',
 '2025-04-04T12:00',
 '2025-04-04T13:00',
 '2025-04-04T14:00',
 '2025-04-04T15:00',
 '2025-04-04T16:00',
 '2025-04-04T17:00',
 '2025-04-04T18:00',
 '2025-04-04T19:00',
 '2025-04-04T20:00',
 '2025-04-04T21:00',
 '2025-04-04T22:00',
 '2025-04-04T23:00',
 '2025-04-05T00:00',
 '2025-04-05T01:00',
 '2025-04-05T02:00',
 '2025-04-05T03:00',
 '2025-04-05T04:00',
 '2025-04-05T05:00',
 '2025-04-05T06:00',
 '2025-04-05T07:00',
 '2025-04-05T08:00',
 '2025-04-05T09:00',
 '2025-04-05T10:00',
 '2025-04-05T11:00',
 '2025-04-05T12:00',
 '2025-04-05T13:00',
 '2025-04-05T14:00',
 '2025-04-05T15:00',
 '2025-04-05T16:00',
 '2025-04-05T17:00',
 '2025-04-05T18:00',
 '2025-04-05T19:00',
 '2025-04-05T20:00',
 '2025-04-05T21:00',
 '2025-04-05T22:00',
 '2025-04-05T23:00',
 '2025-04-06T00:00',
 '2025-04-06T01:00',
 '2025-04-06T02:00',
 '2025-04-06T03:00',
 '2025-04-06T04:00',
 '2025-04-06T05:00',
 '2025-04-06T06:00',
 '2025-04-06T07:00',
 '2025-04-06T08:00',
 '2025-04-06T09:00',
 '2025-04-06T10:00',
 '2025-04-06T11:00',
 '2025-04-06T12:00',
 '2025-04-06T13:00',
 '2025-04-06T14:00',
 '2025-04-06T15:00',
 '2025-04-06T16:00',
 '2025-04-06T17:00',
 '2025-04-06T18:00',
 '2025-04-06T19:00',
 '2025-04-06T20:00',
 '2025-04-06T21:00',
 '2025-04-06T22:00',
 '2025-04-06T23:00',
 '2025-04-07T00:00',
 '2025-04-07T01:00',
 '2025-04-07T02:00',
 '2025-04-07T03:00',
 '2025-04-07T04:00',
 '2025-04-07T05:00',
 '2025-04-07T06:00',
 '2025-04-07T07:00',
 '2025-04-07T08:00',
 '2025-04-07T09:00',
 '2025-04-07T10:00',
 '2025-04-07T11:00',
 '2025-04-07T12:00',
 '2025-04-07T13:00',
 '2025-04-07T14:00',
 '2025-04-07T15:00',
 '2025-04-07T16:00',
 '2025-04-07T17:00',
 '2025-04-07T18:00',
 '2025-04-07T19:00',
 '2025-04-07T20:00',
 '2025-04-07T21:00',
 '2025-04-07T22:00',
 '2025-04-07T23:00',
 '2025-04-08T00:00',
 '2025-04-08T01:00',
 '2025-04-08T02:00',
 '2025-04-08T03:00',
 '2025-04-08T04:00',
 '2025-04-08T05:00',
 '2025-04-08T06:00',
 '2025-04-08T07:00',
 '2025-04-08T08:00',
 '2025-04-08T09:00',
 '2025-04-08T10:00',
 '2025-04-08T11:00',
 '2025-04-08T12:00',
 '2025-04-08T13:00',
 '2025-04-08T14:00',
 '2025-04-08T15:00',
 '2025-04-08T16:00',
 '2025-04-08T17:00',
 '2025-04-08T18:00',
 '2025-04-08T19:00',
 '2025-04-08T20:00',
 '2025-04-08T21:00',
 '2025-04-08T22:00',
 '2025-04-08T23:00']

In [11]:
datadict = {'Time':rawdata.get('hourly').get('time'),
            'Temperature_2m':rawdata.get('hourly').get('temperature_2m')}

df = pd.DataFrame(datadict)
df

                 Time  Temperature_2m
0    2025-04-02T00:00             5.2
1    2025-04-02T01:00             4.8
2    2025-04-02T02:00             4.3
3    2025-04-02T03:00             3.2
4    2025-04-02T04:00             2.9
..                ...             ...
163  2025-04-08T19:00             6.4
164  2025-04-08T20:00             5.1
165  2025-04-08T21:00             4.0
166  2025-04-08T22:00             3.3
167  2025-04-08T23:00             2.8

[168 rows x 2 columns]

In [14]:
latitude = rawdata.get('latitude')
longitude = rawdata.get('longitude')

df['lat'] = latitude
df['lon'] = longitude

In [15]:
df

                 Time  Temperature_2m    lat        lon
0    2025-04-02T00:00             5.2  52.52  13.419998
1    2025-04-02T01:00             4.8  52.52  13.419998
2    2025-04-02T02:00             4.3  52.52  13.419998
3    2025-04-02T03:00             3.2  52.52  13.419998
4    2025-04-02T04:00             2.9  52.52  13.419998
..                ...             ...    ...        ...
163  2025-04-08T19:00             6.4  52.52  13.419998
164  2025-04-08T20:00             5.1  52.52  13.419998
165  2025-04-08T21:00             4.0  52.52  13.419998
166  2025-04-08T22:00             3.3  52.52  13.419998
167  2025-04-08T23:00             2.8  52.52  13.419998

[168 rows x 4 columns]

{dbms}://{server_name}/master?trusted_connection=yes&driver={driver}'

In [16]:
dbms = 'mssql+pyodbc'
server_name = r'GEORGES\DATA'
driver = 'ODBC+driver+17+for+SQL+Server'

create_db_string = f'{dbms}://{server_name}/master?trusted_connection=yes&driver={driver}'

In [28]:
create_db_engine = create_engine(create_db_string,isolation_level='AUTOCOMMIT')

In [ ]:
create_query = """
IF NOT EXISTS (SELECT [name] FROM sys.databases
				WHERE [name] = 'meteo')
                     BEGIN
                        CREATE DATABASE meteo
                     END

"""

In [ ]:
create_db_engine.connect()
create_db_engine.connect().execute()
create_db_engine.dispose()

In [29]:
with create_db_engine.connect() as conn :
    conn.execute(text(create_query))

In [30]:
dbms = 'mssql+pyodbc'
server_name = r'GEORGES\DATA'
driver = 'ODBC+driver+17+for+SQL+Server'
database = 'meteoe6k'

insert_string = f'{dbms}://{server_name}/{database}?trusted_connection=yes&driver={driver}'

In [31]:
insert_engine = create_engine(insert_string)

In [39]:
typedict = {'Time': String(50),
            'Temperature_2m':Float(),
            'lat':Float(),
            'lon':Float()}

In [40]:
df.to_sql(name="temperature",con=insert_engine,if_exists='replace',index=False,dtype=typedict)

168

In [43]:
retrieval_query = "SELECT * FROM temperature"

In [45]:
retrieved_data = pd.read_sql(retrieval_query,con=insert_engine)
retrieved_data

                 Time  Temperature_2m    lat        lon
0    2025-04-02T00:00             5.2  52.52  13.419998
1    2025-04-02T01:00             4.8  52.52  13.419998
2    2025-04-02T02:00             4.3  52.52  13.419998
3    2025-04-02T03:00             3.2  52.52  13.419998
4    2025-04-02T04:00             2.9  52.52  13.419998
..                ...             ...    ...        ...
163  2025-04-08T19:00             6.4  52.52  13.419998
164  2025-04-08T20:00             5.1  52.52  13.419998
165  2025-04-08T21:00             4.0  52.52  13.419998
166  2025-04-08T22:00             3.3  52.52  13.419998
167  2025-04-08T23:00             2.8  52.52  13.419998

[168 rows x 4 columns]

Exercice : Utiliser les deux URL au début du jupyter notebook pour récuperer des données concernant les communes de Bruxelles, ensuite utilisé ces données afin de récuperer la météo des dites communes. Nous voulons la température 2m , rain, wind 10m dans la catégorie Historical Forecast. Enfin envoyé vos données dans un SQL server. 

Au final nous voulons 2 tables en SQL server sous forme de modèle dimensionnel. 

Bonus : Si vous en avez le temps, connectez vous sur votre modele avec Power BI pour voir si celui ci fonctionne correctement.